default_environment: default

environments:
  default:
    connections:
      duckdb:
        - name: "duckdb-default"
          path: "olist.duckdb"

  production:
    connections:
      athena:
        - name: "athena-default"
          region: "eu-west-1"
          database: "olist"
          access_key_id: "YOUR_AWS_ACCESS_KEY_ID"
          secret_access_key: "YOUR_AWS_SECRET_ACCESS_KEY"
          query_results_path: "s3://YOUR-BUCKET/athena-results/"
